extends layout

block content
  h1= title
  p The weather is for Bristol, United Kingdom is 
    i #{weather}
  p The temperature is 
    i #{temp}#{degrees}
  p Date of report:
    i #{date} 
  p Time of report:
    i #{time}
  a(class='button', href='/sendWeatherAPI') Get Weather